body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(82, 5, 5, 0.1);
}
.head{
    color:#dc3545; 
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(50% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button {
   
     padding: 10px 15px;
    background-color: #073010;
    width: 30%;
    color: white;
    border: none;
    border-radius: 10px;
    cursor:  pointer;
}



button:hover {
    background-color: #218838;
}


ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 10px;
    background: #f9f9f9;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}